.below-site-header-outlet.welcome-link-banner-connector {
  .welcome-link-banner-wrapper {
    background-color: #{$banner-background-color};
    background-image: url(#{$banner-background-image});
    background-size: #{$banner-background-size};
    background-repeat: #{$banner-background-repeat};
    background-position: center center;
  }

  @mixin box-shadow($value: 0px) {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.005),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.01),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.01),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.01);
}
  
  .welcome-link-banner {
    background-color: white;
    border-radius: 1em;
    margin-top: 30px;
    padding-top: 25px;
    padding-right: 3em;
    padding-left: 3em;
    max-width: 1150px;
     .archetype-regular & {
    min-height: 500px;
    }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    }
  padding-bottom: 25px; //overriding inline style
  @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
    }
  @media screen and (max-width: 1075px) {
    width: 85%;
    }
  }

  .welcome-wrapper {
    flex: 0 1 auto;
    margin-top: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-shadow: shadow("card");
    margin: 2.5em auto;
    background: #{$banner-box-background-color};

    h2 {
      font-size: 1.75em;
      line-height: 1.2;
    }

    @media screen and (max-width: 930px) {
      flex-wrap: wrap;

      #intro-ban {
        max-width: 500px;
        text-align: justify;
        padding-top: 0.8em;
      }

    @media screen and (max-width: 600px) {
      padding: 2em;
    }

    @media screen and (max-width: 550px) {
      max-width: 80vw;
      padding: 0;
      }
    }
  }
}
