
{{#unless hideStaff}}
  {{#unless (and (theme-setting 'hide_on_mobile') site.mobileView)}}
    {{#if (and showTrust showHere)}}
      <div class="welcome-link-banner-wrapper">
              <h2>{{html-safe (theme-i18n "meta_banner.welcome")}}</h2>
              <p>{{html-safe (theme-i18n "meta_banner.subtitle")}}</p>
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}


