
{{#unless hideStaff}}
  {{#unless (and (theme-setting 'hide_on_mobile') site.mobileView)}}
    {{#if (and showTrust showHere)}}
      <div class="welcome-link-banner-wrapper">
        <div class="wrap welcome-link-banner">
              <h2>{{html-safe (theme-i18n "meta_banner.welcome")}}</h2>
              <p id="intro-ban">{{html-safe (theme-i18n "meta_banner.subtitle")}}</p>
         </div>              
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}


